<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" href="../styles/style.css">
<!-- CSS only -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
	rel="stylesheet" />

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
	rel="stylesheet" />
<!-- MDB -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
	rel="stylesheet" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--  
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<!-- JavaScript Bundle with Popper
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
	crossorigin="anonymous"></script>
	 -->
<head>
<meta charset="ISO-8859-1">
<style>
.error {
	color: red;
	font-style: italic;
}
</style>
<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<title>Weather APP</title>
</head>
<body class="bodyCss">
	<div class="container-fluid" sec:authorize="hasRole('ROLE_USER')">
		<form th:action="@{/logout}" method="post" style="padding-top: 2em;">
			<button type="submit" class="btn btn-light btn-lg"
				style="font-size: 23px;">
				<i class="fas fa-sign-out-alt"></i> Log out
			</button>
			<!-- <input type="submit" value="Sing out"> -->
		</form>
		<div class="row">
			<!-- <h1 th:inline="text">Hello
				[[${#httpServletRequest.remoteUser}]]!</h1>
			<p th:text="hello +${user.userName}" />
			<p th:text="${count}"> -->
		</div>
		<div class="row searchLocation">
			<h2 class="col-12" style="text-align: center; font-size: 30px;">Check
				Weather on your Location:</h2>
			<form th:action="@{/loadWeather}" class="col-6" method="post"
				th:object="${weatherData}">
				<div class="row" style="font-size: 30px;">
					<div class="col-12">
						<p th:if="${locationNotFound}" class="error"
							th:text="'Sorry Entered City Not Found! PLease Provide valid city Name!'"></p>
					</div>
					<div class="col-12">
						<div class="input-group" style="height: 2em;">
							<div class="form-outline">
								<input type="search" autocomplete="off"
									style="color: #ffff; width: 16em; font-size: 20px; height: 3.3em"
									id="form1" th:field="*{location}" required="required"
									class="form-control" /> <label class="form-label"
									style="color: #ffff;" for="form1">Search</label>
							</div>
							<button type="submit" class="btn btn-light">
								<i class="fa fa-search"></i>
							</button>
						</div>
						<!-- <input type="text" th:field="*{location}" required="required" /> -->
					</div>
				</div>
			</form>
			<form class="col-6" th:action="@{/saveWeather}"
				style="font-size: 25px;" method="post">
				<div>
					<p th:if="${LocationExist}" class="error"
						th:text="${weatherDetail.location} +' Already Exist'"></p>
				</div>
				<div class="current-weather"
					th:if="${{weatherDetail.location!=null}}">
					<div>
						<div></div>
						<div>
							<span th:text="${{weatherDetail.location}}"></span> <img
								th:src="${{weatherDetail.weather_Icon}}">
						</div>
						<div>
							Current Temperature : <span th:text="${{weatherDetail.temp}}"></span>
						</div>
						<div>
							Current Weather Condition : <span
								th:text="${{weatherDetail.description}}"></span>
						</div>
						<div>
							<div>
								Sunrise Time : <span th:text="${{weatherDetail.sunrisetime}}"></span>
							</div>
						</div>
						<div>
							<div>
								SunSet Time: <span th:text="${{weatherDetail.sunsettime}}"></span>
							</div>
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-light btn-lg btn-block"
							th:name="location" id="location"
							th:field="*{weatherDetail.location}"
							th:value="${weatherDetail.location}">Save For Future</button>
					</div>
				</div>
				<!-- 
				<table th:if="${{weatherDetail.location!=null}}">
					<tr>
						<td><p th:if="${LocationExist}" class="error"
								th:text="${weatherDetail.location} +' Already Exist'"></p></td>
					</tr>
					<tr>
						<td>Location:</td>
						<td th:text="${{weatherDetail.location}}"></td>
					</tr>
					<tr>
						<td>Temp:</td>
						<td th:text="${{weatherDetail.temp}}"></td>
					</tr>
					<tr>
						<td>Desc:</td>
						<td th:text="${{weatherDetail.description}}"></td>
					</tr>
					<tr>
						<td>Icon:</td>
						<td><img th:src="${{weatherDetail.weather_Icon}}"></td>
						<td th:text="${{weatherDetail.weather_Icon}}"></td>
					</tr>
					<tr>
						<td>Sunrise:</td>
						<td th:text="${{weatherDetail.sunrisetime}}"></td>
					</tr>
					<tr>
						<td>Sunset:</td>
						<td th:text="${{weatherDetail.sunsettime}}"></td>
					</tr>
					<tr>
						<td><button type="submit" th:name="location" id="location"
								th:field="*{weatherDetail.location}"
								th:value="${weatherDetail.location}">Save For Future</button></td>
					</tr>
				</table>
				 -->
			</form>
		</div>
		<div class="row save-weather-parent"
			th:unless="${#lists.isEmpty(weatherDataList)}">
			<h2 class="col-12" style="font-size: 30px; text-align: center;">Your
				Saved Weather Data:</h2>
			<div class="col-3 save-weather" style="margin-bottom: 2em;"
				th:each="weatherData:${weatherDataList}">
				<div th:text="${{weatherData.location}}"></div>
				<div>
					<img th:src="${{weatherData.weather_Icon}}">
				</div>
				<div>
					Temperature:<span th:text="${{weatherData.temp}}"></span>
				</div>
				<div>
					Weather Condition:<span th:text="${{weatherData.description}}"></span>
				</div>
				<div>
					SunRise:<span th:text="${{weatherData.sunrisetime}}"></span>
				</div>
				<div>
					Sunset:<span th:text="${{weatherData.sunsettime}}"></span>
				</div>

			</div>
			<!-- <table class="col-3" style="margin-bottom: 2em;"
				th:each="weatherData:${weatherDataList}">
				<tr>
					<td>Location:</td>
					<td th:text="${{weatherData.location}}"></td>
				</tr>
				<tr>
					<td>Temp:</td>
					<td th:text="${{weatherData.temp}}"></td>
				</tr>
				<tr>
					<td>Desc:</td>
					<td th:text="${{weatherData.description}}"></td>
				</tr>
				<tr>
					<td>Icon:</td>
					<td><img th:src="${{weatherData.weather_Icon}}"></td>
				</tr>
				<tr>
					<td>Sunrise:</td>
					<td th:text="${{weatherData.sunrisetime}}"></td>
				</tr>
				<tr>
					<td>Sunset:</td>
					<td th:text="${{weatherData.sunsettime}}"></td>
				</tr>
			</table> -->
		</div>
		<!-- <button onClick="updateWeather();" id="myButtonId">dd</button> -->
	</div>

	<script type="text/javascript">
            function updateWeather(){           
                location.reload();
            }
            //setInterval(function () {document.getElementById("myButtonId").click();}, 10000);
        </script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
	<script src="../static/javascripts/script.js"></script>
</body>
</html>