<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Weather App Login</title>
</head>
<body>
	<div th:if="${param.error}">Invalid username and password</div>
	<div th:if="${param.logout}">You have been logged out.</div>
	<form th:action="@{/login}" method="post">
		<div>
			<label>User Name:<input type="text" name="username" /></label>
		</div>
		<div>
			<label>Password:<input type="password" name="password" /></label>
		</div>
		<div>
			<input type="submit" value="sign In" />
		</div>
	</form>
	<div>
		<a href="./registration">Want to Register?</a>
	</div>


	<form>
		<!-- 2 column grid layout with text inputs for the first and last names -->
		<div class="row mb-4">
			<div class="col">
				<div class="form-outline">
					<input type="text" id="form6Example1" class="form-control" /> <label
						class="form-label" for="form6Example1">First name</label>
				</div>
			</div>
			<div class="col">
				<div class="form-outline">
					<input type="text" id="form6Example2" class="form-control" /> <label
						class="form-label" for="form6Example2">Last name</label>
				</div>
			</div>
		</div>

		<!-- Text input -->
		<div class="form-outline mb-4">
			<input type="text" id="form6Example3" class="form-control" /> <label
				class="form-label" for="form6Example3">Company name</label>
		</div>

		<!-- Text input -->
		<div class="form-outline mb-4">
			<input type="text" id="form6Example4" class="form-control" /> <label
				class="form-label" for="form6Example4">Address</label>
		</div>

		<!-- Email input -->
		<div class="form-outline mb-4">
			<input type="email" id="form6Example5" class="form-control" /> <label
				class="form-label" for="form6Example5">Email</label>
		</div>

		<!-- Number input -->
		<div class="form-outline mb-4">
			<input type="number" id="form6Example6" class="form-control" /> <label
				class="form-label" for="form6Example6">Phone</label>
		</div>

		<!-- Message input -->
		<div class="form-outline mb-4">
			<textarea class="form-control" id="form6Example7" rows="4"></textarea>
			<label class="form-label" for="form6Example7">Additional
				information</label>
		</div>

		<!-- Checkbox -->
		<div class="form-check d-flex justify-content-center mb-4">
			<input class="form-check-input me-2" type="checkbox" value=""
				id="form6Example8" checked /> <label class="form-check-label"
				for="form6Example8"> Create an account? </label>
		</div>

		<!-- Submit button -->
		<button type="submit" class="btn btn-primary btn-block mb-4">Place
			order</button>
	</form>


</body>
</html>