<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
	<meta charset="ISO-8859-1">
	<title>Weather App Login</title>
</head>

<style>
	.error {
		color: red;
		font-style: italic;
	}

	.login-fom {
		-webkit-border-radius: 10px 10px 10px 10px;
		border-radius: 10px 10px 10px 10px;
		background: #fff;
		padding: 30px;
		width: 100%;
		height: 22em;
		max-width: 30em;
		position: relative;
		padding: 2em;
		-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
		box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
		text-align: center;
	}
</style>

<link rel="stylesheet" href="./styles/style.css">

<body>


	<!-- <form th:action="@{/login}" method="post">
		<div>
			<label>User Name:<input type="text" name="username" /></label>
		</div>
		<div>
			<label>Password:<input type="password" name="password" /></label>
		</div>
		<div>
			<input type="submit" value="sign In" />
		</div>
	</form> -->

	<div class="row header">
		<div class="col-6" style="color: white; margin-top: 32px; padding-left: 2em; font-size: 26px;">Weather App
		</div>
		<div class="col-6">
			<div class="head-icon">
			</div>
		</div>
	</div>
	<section class="min-vh-100">
		<div class="row">
			<div class=" h-100 d-flex justify-content-center align-items-center"
				style="min-height: 100%;padding: 10em;">
				<div class="login-fom text-center wrapper fadeInDown" style="justify-content: center; display: flex;">
					<form th:action="@{/login}" class="form-signin" method="post">
						<input type="hidden" name="_csrf" value="953647df-eefa-45ae-8003-6bd54f36e854" />
						<h1 class="h3 mb-3 font-weight-normal">Please Sign In to Access Weather APP!</h1>
						<div th:if="${errorMessage}" class="error" style="padding-bottom: 1em;">Please Enter Valid
							Username And Password!</div>
						<div style="padding-bottom: 1em;">
							<input type="text" name="username" class="form-control" placeholder="User Name"
								required="required" autofocus="autofocus" autocomplete="none" />
						</div>
						<div style="padding-bottom: 1em;">
							<input type="password" name="password" id="inputPassword" class="form-control"
								placeholder="Password" required="required">
						</div>
						<div class="mb-3">
							<a href="./registration">Want to Register?</a>
						</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
							in</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	</div>
</body>

</html>