<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="ISO-8859-1">
	<meta charset="utf-8">
	<meta name="author" content="Grayrids">
	<title>Account Registration</title>
	<style>
		.error {
			color: red;
			font-style: italic;
		}

		#formContent {
			-webkit-border-radius: 10px 10px 10px 10px;
			border-radius: 10px 10px 10px 10px;
			background: #fff;
			padding: 30px;
			width: 100%;
			height: 30em;
			max-width: 30em;
			position: relative;
			padding: 2em;
			-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
			box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
			text-align: center;
		}
	</style>
	<link rel="stylesheet" href="./styles/style.css">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
</head>

<body>
	<div class="row header">
		<div class="col-6" style="color: white; margin-top: 32px; padding-left: 2em; font-size: 26px;">Weather App
		</div>
		<div class="col-6">
			<div class="head-icon">
			</div>
		</div>
	</div>
	<!--<form action="#" th:action="@{/registration}" th:object="${userAccount}" method="post">
		<p th:if="${UserExist}" class="error">User Already Exist</p>
		<p th:if="${PasswordShort}" class="error">Password is not long
			enough!</p>
		<p th:if="${PasswordNoMatch}" class="error">Passwords does not
			match!</p>
		<table>
			<tr class="form-group">
				<td>Username:</td>
				<td><input type="text" class="form-control" required="required" th:field="*{userName}" /></td>
				<td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
					class="error">UserName Must Required!</td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="password" class="form-control"
					required="required" th:field="*{password}" /></td>
				<td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></td>
			</tr>
			<tr>
				<td>Confirm Password:</td>
				<td><input type="password" class="form-control"
					required="required" th:field="*{confirmPassword}" /></td>
				<td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
	<div>
		<a href="./login">Already have an Account?</a>
	</div> -->

	<section class="min-vh-100">
		<div class="row">
			<div class=" h-100 d-flex justify-content-center align-items-center" style="min-height: 100%;padding: 6em;">
				<div id="formContent" class="text-center wrapper fadeInDown"
					style="justify-content: center; display: flex;">
					<form action="#" th:action="@{/registration}" th:object="${userAccount}" method="post"
						class="form-signin">
						<p th:if="${UserExist}" class="error">User Already Exist</p>
						<p th:if="${PasswordShort}" class="error">Password Must be 8 characters Long!</p>
						<p th:if="${PasswordNoMatch}" class="error">Passwords does not
							match!</p>

						<input type="hidden" name="_csrf" value="953647df-eefa-45ae-8003-6bd54f36e854" />
						<h1 class="h3 mb-3 font-weight-normal">Please Help to Register your Self</h1>
						<div style="padding-bottom: 1em;">
							<input type="text" th:field="*{userName}" data-toggle="tooltip" data-placement="top"
								title="Tooltip on top" class="form-control" placeholder="User Name" required="required"
								autofocus="autofocus" autocomplete="none" />
						</div>
						<div style="padding-bottom: 1em;">
							<input type="password" th:field="*{password}" id="inputPassword" class="form-control"
								placeholder="Password" required="required">
						</div>
						<div>
							<input type="password" th:field="*{confirmPassword}" id="inputPassword" class="form-control"
								placeholder="Confirm Password" required="required">
						</div>
						<div class="mb-3">
							<a href="./login">Already have an Account?</a>
						</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
							in</button>
					</form>

				</div>
				</ </div>
	</section>


</body>

</html>